<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite>
            <directory suffix=".php">test</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix=".php">test/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
